.THIS {
}

.THIS .div-errores-congenitos-layout{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.THIS .div-acordeon-errores-congenitos-layout{
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 1600px) {
    .THIS .div-errores-congenitos-layout{
        padding-left: 5%;
        padding-right: 5%;
    }

    .THIS .div-acordeon-errores-congenitos-layout{
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 600px) {
    .THIS .div-errores-congenitos-layout{
        padding-left: 0%;
        padding-right: 0%;
    }

    .THIS .div-acordeon-errores-congenitos-layout{
        padding-left: 4%;
        padding-right: 4%;
    }
}