/* .THIS {
} */

/* .THIS .wrapped-header-datatable test-class { */
/* .THIS .border-error { */
    /* border:2px solid red; */
    /* background-color: #ffed63 !important; */
    /* color: black !important;
    font-weight:bold !important; */
/* } */

/* .THIS .remove-all-styles {
    all: revert;
} */
/* .datatable-white{
    background-color:rgb(232, 233, 200);
} */

/* .test-class{
    background-color: #FFFFFF !important;
}

.test-class1{
    background-color: #E3E3E3 !important;
} */