.THIS {
}

.THIS .modal-dni{
    width: 25%;
    margin-top: 41px;
}

.THIS .slds-modal__content{
    border-radius: 20px !important;
}

.THIS .text-regular-login-nsj{
    font-family: MontserratRegular !important;
    font-size: 0.9rem !important;
    color: #6E6E6E !important;
}

.THIS .text-blue-login-nsj{
    font-family: MontserratSemiBold !important;
    font-size: 0.9rem !important;
    color: #313183 !important;
}

.THIS .text-fp-login-nsj{
    font-family: MontserratSemiBold !important;
    font-size: 0.9rem !important;
    color: #508ECC !important;
}

.THIS label{
    font-family: MontserratSemiBold;
}

.THIS input{
    font-family: MontserratSemiBold;
}

.THIS .button{
    background-color: #313183;
    border-radius: 5px;
    border: transparent;
    font-family: MontserratSemiBold;
    font-size: 0.9rem;
    color: white;
    padding: 4px 16px;
}

.THIS .back-button{
    background-color: white;
    border-radius: 5px;
    border: solid 1px #313183;
    font-family: MontserratSemiBold;
    font-size: 0.9rem;
    color: #313183;
    padding: 4px 16px;
    margin-right: 10px;
}

.THIS .button:hover{
    opacity: 0.7;
}

.THIS .back-button:hover{
    opacity: 0.7;
}

.THIS .form{
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}

.THIS .slds-float_left{
    margin-left: 25px;
}

.THIS .slds-float_right{
    margin-right: 25px;
}

.THIS .slds-truncate{
    font-family: MontserratRegular;
    font-size: 0.8rem;
    color: #6E6E6E;
}

.THIS .icnModal svg{
    fill: #C09AC2;
}

.THIS .alert{
    color: rgb(234, 0, 30);
    font-size: 0.75rem;
}

.THIS .container-contacto-fvr{
    margin-left: 25%;
}

.THIS a {
    color: #313183;
    text-decoration: none !important;
}

@media (max-width: 1300px) {
    .THIS .modal-dni{
        width: 40%;
        margin-top: 7%;
    }

    .THIS .container-contacto-fvr{
        margin-left: 15%;
    }    
}


@media (max-width: 600px) {
    .THIS .modal-dni{
        width: 100%;
    }
}