.THIS {
}

.THIS .container-faqs-onco-layout{
    width: 100%;
    padding-left: 17%;
    padding-right: 17%;
}

@media (max-width: 600px) {
    .THIS .container-faqs-onco-layout{
        padding-left: 0%;
        padding-right: 0%;
    }    
}