.THIS {
}

.THIS .container-pol-layout{
    width: 100%;
    padding-left: 17%;
    padding-right: 17%;
}

.THIS .container-pol-in-layout{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 1400px) {
    .THIS .container-pol-layout{
        padding-left: 10%;
        padding-right: 10%;
    }
    .THIS .container-pol-in-layout{
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 1068px) {
    .THIS .container-pol-layout{
        padding-left: 5%;
        padding-right: 5%;
    }

    .THIS .container-pol-in-layout{
        padding-left: 0%;
        padding-right: 0%;
    }
}