.THIS .first-logo-hnsj{
    height: 60px;
    cursor:pointer;
    margin-left: 30px;
    width: auto;
}
.THIS .second-logo-hnsj{
    height: 75px;
    cursor:pointer;
    margin-left: 30px;
    width: auto;
}