.buttonTipoReceta{
    border-radius: 10px 10px 10px 10px;
    background-color: #ebebeb;
    color: #606060;
    font-family: MontserratSemiBold;
    text-transform: uppercase;
    font-size: 22px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 4%;
    margin-left: 4%;
    cursor: pointer;
}

.buttonTipoReceta:hover{
    background: linear-gradient(90deg, rgba(101,56,149,1) 0%, rgba(179,148,190,1) 100%);
    color: white;
}

.lineaCompletaAlergia{
    width:100%;
    border-bottom:1px solid #606060;
    position:relative;
    margin-top: 2%;
    margin-bottom: 2%;
}

.texto-aviso-legal{
    font-family: MontserratRegular;
    font-style: italic;
    font-size: 18px;
    line-height: 30px;
}

.botonVerTodasLasRecetas{
    border-radius: 10px 10px 10px 10px;
    background-color: #ebebeb;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
    font-family: MontserratSemiBold;
    font-size: 18px;
    cursor: pointer;
}

.botonVerTodasLasRecetas:hover{
    background: linear-gradient(90deg, rgba(101,56,149,1) 0%, rgba(179,148,190,1) 100%);
    color: white;
}

@media (max-width: 600px) {
    .buttonTipoReceta{
        font-size: 13pt;
        line-height: 20pt;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        margin-top: 3%;
        margin-right: 10%;
        margin-left: 10%;
    }
    .botonVerTodasLasRecetas{
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        margin-top: 3%;
        margin-right: 10%;
        margin-left: 10%;
    }    
    .container-aviso-legal{
        margin-left: 5%;
        margin-right: 5%;
    }
    .lineaCompletaAlergia{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .texto-aviso-legal{
        font-size: 12pt;
        line-height: 13pt;
        text-align: center;
    }
}