.THIS {
}

.THIS .tituloHeaderArea{
    font-size: 2em;
    color: white;
}

.THIS .containerTextoHeader{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}