.THIS {
}

.THIS .container-ho-layout{
    width: 100%;
    padding-left: 17%;
    padding-right: 17%;
}

@media (max-width: 1300px){
    .THIS .container-ho-layout{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 768px){
    .THIS .container-ho-layout{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 600px){
    .THIS .container-ho-layout{
        padding-left: 0%;
        padding-right: 0%;
    }
}