.THIS {
}

.THIS .tituloArticulos{
    font-family:MontserratSemiBold;
    font-size: 22px;
    color:#606060;
    line-height: 30px;
}

.THIS .linea{
    border-top: 1px solid #606060;
    width:100px;
    margin-top:1.2%;
}

.THIS .divCenterVertically {
    margin: auto;
    margin-left: 1%;
    margin-right: 1%;
}

.THIS .icnAdelantar svg:hover{
    cursor: pointer;
}

.THIS .icnReversa svg:hover{
    cursor: pointer;
}

@media (max-width: 600px) {
    .THIS .linea{
        border-top: 1px solid #606060;
        width:100px;
        margin-top:3.5%;
    }

    .THIS .tituloArticulos{
        font-family:MontserratSemiBold;
        font-size: 18px;
        color:#606060;
        line-height: 27px;
        padding-left: 5%;
        padding-right: 5%;
    }
}