.THIS .withOpacity {
    background: linear-gradient(90deg, rgba(152, 123, 217, 0.6) 0%,  rgba(110,131,229,0.6) 100%) !important;
}

.THIS .withoutOpacity {
    opacity: 1 !important;
}

.THIS .botonKitDeInicio {
    background: linear-gradient(90deg, rgba(152, 123, 217, 1) 0%,  rgba(110,131,229,1) 100%);
    border-color: #EBEBEB;
    border-radius: 10px 10px 10px 10px;
    font-family:MontserratSemiBold;
    font-size: 22px;
    line-height: 30px;
}

.THIS .icnAdelantar svg:hover{
    cursor: pointer;
}

.THIS .icnReversa svg:hover{
    cursor: pointer;
}

.THIS .tituloCardEjercicioAFOncologia{
    font-size: 24px;
    font-family: MontserratSemiBold;
    color:white;
}

.THIS .textoCardEjercicioAFOncologia{
    font-size: 16px;
    font-family: MontserratRegular;
    color:white;
}

.THIS .containerInformacionEjercicioAFOncologia{
    height: 375px;
}

.THIS .containerImgInfoEjercicioAFOncologia{
    height: 375px;
}

.THIS .containerDescInfoEjercicioAFOncologia{
    padding-left: 5%;
}

.THIS .imagenEjercicioDescripcionOncologia{
    width: 100%;
}

.THIS .textoDescripcionEjercicioAFOncologia{
    font-family: MontserratRegular;
    font-size: 16px;
    line-height: 24px;
    color:#606060;
}

.THIS .tituloConsejoEjercicioAFOncologia{
    font-family: MontserratSemiBold;
    font-size: 16px;
    line-height: 24px;
    color:#606060;
}

.THIS .textoConsejoEjercicioAFOncologia{
    font-family: MontserratRegular;
    font-size: 16px;
    line-height: 24px;
    color:#606060;
}

.THIS .tituloEjercicioAFOncologia{
    font-family: MontserratSemiBold;
    font-size: 16px;
    line-height: 24px;
    color:#293896;
}

@media (max-width: 600px) {
    .THIS .botonKitDeInicio {
        font-size: 18px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .THIS .imagenEjercicioDescripcionOncologia{
        width: 75%;
    }

    .THIS .tituloCardEjercicioAFOncologia{
        font-size: 16px;
        padding-left: 1%;
        padding-right: 1%;
    }

    .THIS .textoCardEjercicioAFOncologia{
        font-size: 14px;
    }

    .THIS .containerInformacionEjercicioAFOncologia{
        height: 200px;
    }
    
    .THIS .containerImgInfoEjercicioAFOncologia{
        height: 200px;
    }

    .THIS .containerDescInfoEjercicioAFOncologia{
        padding: 5%;
    }    

    .THIS .textoDescripcionEjercicioAFOncologia{
        font-size: 15px;
        line-height: 23px;
    }

    .THIS .tituloConsejoEjercicioAFOncologia{
        font-size: 15px;
        line-height: 23px;
    }

    .THIS .textoConsejoEjercicioAFOncologia{
        font-size: 15px;
        line-height: 23px;
    }

    .THIS .containerTituloEjercicioAFOncologia{
        height: 40px;
    }
}