.button-bpo-far-td{
    background: linear-gradient(180deg, rgba(147,126,213,1) 0%, rgba(114,132,222,1) 100%);
    border-color: transparent;
    color: white;
    border-radius: 10px;
    font-family: MontserratSemiBold;
    font-size: 1.375rem;
    line-height: 1.875rem;
    padding: 10px;
    min-width: 550px;
}

.button-bpo-td{
    background: linear-gradient(180deg, rgba(147,126,213,1) 0%, rgba(114,132,222,1) 100%);
    border-color: transparent;
    color: white;
    border-radius: 10px;
    font-family: MontserratSemiBold;
    font-size: 1.375rem;
    line-height: 1.875rem;
    padding: 15px;
    min-width: 420px;
}

.button-bpo-lr{
    background: linear-gradient(90deg, rgba(147,126,213,1) 0%, rgba(114,132,222,1) 100%);
    border-color: transparent;
    color: white;
    border-radius: 20px;
    font-family: MontserratSemiBold;
    font-size: 1.375rem;
    line-height: 1.875rem;
    padding: 12.5px;
    min-width: 700px;
}

@media (max-width: 600px) {
    .button-bpo-lr{
        font-size: 0.65rem;
        line-height: 1rem;
        min-width: 90%;
        font-family: MontserratSemiBold;
        padding: 5px;    
    }

    .button-bpo-far-td{
        font-size: 0.9rem;
        line-height: 1rem;
        margin-left: 0%;
        margin-right: 0%;
        min-width: 350px;
    }
    
    .button-bpo-td{
        font-size: 0.9rem;
        line-height: 1rem;
        margin-left: 0%;
        margin-right: 0%;
        min-width: 350px;
    }
}