.card-left-ddc {
    background-color: #EBEBEB;
    border-radius: 10px;
}

.card-right-ddc {
    background-color: #EBEBEB;
    border-radius: 10px;
}

.card-left-ddc:hover {
    cursor: pointer;
}

.card-right-ddc:hover {
    cursor: pointer;
}

.box {
    height: 550px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    background-color: #EBEBEB;
}

.div-title-card-ddc{
    height: 105px;
}

.title-card-left-ddc {
    font-family: MontserratBlack;
    font-size: 16pt;
    line-height: 22pt;
    color: #4A2D80;
}

.text-card-left-ddc {
    font-family: MontserratRegular;
    font-size: 15pt;
    line-height: 18pt;
    color: #606060;
}

.card-bdne {
    background-color: #96D6F9;
    border-radius: 75px 25px 75px 25px;
    height: auto;
}

.text-card-bdne {
    font-family: MontserratRegular;
    font-size: 15pt;
    line-height: 18pt;
    color: white;
}

.card-patologia-cronica {
    background-color: #EBEBEB;
    padding: 25px;
}

@media (min-width: 768px) {
    .card-left-ddc {
        margin-right: 10px;
    }
    
    .card-right-ddc {
        margin-left: 10px;
    }

    .title-card-left-ddc {
        font-size: 30px;
        line-height: 30px;
    }
    
    .text-card-left-ddc {
        font-size: 22px;
        line-height: 30px;
    }

    .card-bdne {
        height: 349px;
    }
    
    .text-card-bdne {
        font-size: 22px;
        line-height: 30px;
    }

    .card-patologia-cronica {
        background-color: #EBEBEB;
        padding: 90px;
    }

    .div-title-card-ddc{
        height: 210px;
    }

    .box {
        height: 750px;
    }    
}

@media (min-width: 1024px) {
    .card-bdne {
        height: 250px;
    }

    .div-title-card-ddc{
        height: 105px;
    }

    .box {
        height: 550px;
    }
}

@media (min-width: 1366px) {
    .card-bdne {
        height: 176px;
    }

    .box {
        height: 450px;
    }
}